.result-main {
  border: 2px solid red;
  background-color:  hsl(237, 49%, 15%);
  width: 100%;
  height: 70vh;
  padding: 5rem;
  // height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .user-choose, .computer-choose {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
  }

  .text {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 2rem;
  }

  .result-text {
    font-size: 2rem;
    font-weight: 600;
  }

  .result-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .paper-container {
    background-color: CornflowerBlue;
    box-shadow: 0px 7px 0px 0px #324e80;
  }
  
  .scissors-container {
    background-color: #e1af34;
    box-shadow: 0px 7px 0px 0px #b98c1b;
  }

  .rock-container {
    background-color: #ff2b06;
    box-shadow: 0px 7px 0px 0px #a31800;
  }

  .com-container {
    background-color: #B8B8B8;
    box-shadow: 0px 7px 0px 0px #808080;
  }

  .key {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 7px 0px 0px silver;
  }
}